<!--   Nana Asiedu-Ansah
      Muhlenberg College
      CSI 370
      Spring 2019 CUE
-->
<div class="center">
   <h2>Seller Sales History </h2>
</div>
</nav>
<table class="table table-striped table-bordered">
  <tr>
 <th class="center">Image</th>
 <th class="center">Item</th>
 <th class="center">Price</th>
 <th class="center">Customer</th>
 <th class="center">Date Sold</th>

  </tr>
  <!-- loop through orders
  -->
  <% @orders.each do |order| %>

  <tr>
    <!--image placeholder -->
    <td><%=image_tag 'http://placehold.it/150x200', class: 'thumbnail' %></td>
        <!--ordered book title -->
    <td class="center"><%= order.book.title %></td>
        <!-- the price -->
    <td class="center"><%= number_to_currency(order.book.price) %></td>
        <!--buyer's name -->
    <td class="center"><%= order.buyer.name %></td>
        <!--time order was created -->
    <td class="center"><%= order.created_at.strftime("%B %-d, %Y") %></td>
    </tr>
    <%end%>
</table>
<hr>
<br>
<% if user_signed_in? %>
  <%= link_to 'New Book', new_book_path, class: "btn btn-link", data: { no_turbolink: true } %>
<% end %>
