<!--   Nana Asiedu-Ansah
      Muhlenberg College
      CSI 370
      Spring 2019 CUE
-->
<% provide(:title, "Book Listings") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welome to USED TEXTBOOKS</h1>
    <p class="lead">Welome to used textbooks. This site gives College students the
    opportunity to sell or trade textbooks upon completion
    of the course or class.
	</p>
  </div>
</div>

<div class="center">
  <div class="row">
    <!-- loop to go through the books -->
    <% @books.each do |book| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <!-- image placeholder -->
          <%=link_to (image_tag 'http://placehold.it/250x250', class: 'thumbnail'),book %>
          <div class="card">
            <!-- book title -->
            <h4><%= book.title %></h4>
            <!-- book price -->
            <h4><%= number_to_currency(book.price) %></h4>
              <!-- seller name -->
            <%= "Sold by #{book.user.name}" %>
            <p><%= link_to 'buy now', new_book_order_path(book.id), class: "btn btn-primary"%></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- coalculates and allows 4 books to a page-->
<%= will_paginate @books%>
<br>

<% if user_signed_in? %>
  <%= link_to "New Book", new_book_path, class: "btn btn-primary", data: { no_turbolink: true } %>
<% end %>
