

<% provide(:title, "Book Listings") %>
<h1>Book Listings</h1>
<hr/>
<div id="books-index">
    <% @books.each_slice(4) do |book| %>
      <div class="row">
        <% book.each do |book| %>
            <div class="col-md-3 col-sm-3">
            <%=image_tag 'http://placehold.it/200x250', class: 'thumbnail'%>
              <h3><%=book.title %></h3>
              <%= number_to_currency(book.price) %>
              <p><%= book.user.name%></p>
              <%= link_to "View info", book_path(book)
                %> |
              <%= link_to "add to cart", book_path(book) %>
                </div>
           <%end%>
          </div>
    <% end %>
  </div>
  </div>
<br>
<%= link_to 'New Book', new_book_path %>
