<% provide(:title, "Book Listings") %>
<h1>Book Listings </h1>
<hr>
<div class="center">
  <div id="books-index">
    <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-2">
            <%=link_to (image_tag 'http://placehold.it/150x200', class: 'thumbnail'),book %>
            <div class="caption">
              <h5><%=link_to book.title ,book %></h5>
            <%=(number_to_currency(book.price)) %>
            <p><%= "Sold by #{book.user.name}"%></p>
            <%= link_to 'buy now', new_book_order_path(book.id), class: "btn btn-primary"%>
              <hr>
              <br>
              </div>
            </div>
          <% end %>
      </div>
      <nav aria-label="arial">
  <ul class="pager">
      <%= will_paginate @books%>
  </ul>
</nav>

  </div>
  </div>

<% if user_signed_in?%>
<%= link_to 'New Book', new_book_path %>
<% end %>
