

<% provide(:title, "Book Listings") %>
<h1>Book Listings</h1>
<hr/>
<div class="row">
    <% @books.each do |book| %>
      <div class="col-md-3">

        <%=image_tag 'http://placehold.it/150x250', class: 'thumbnail'%>
        <div class="caption">
          <h3><%=book.title %></h3>
        <p><%= number_to_currency(book.price) %></p>
        <p><%= book.user.name%></p>
        <%= link_to 'Show', book, class: "btn btn-link" %>
        <%= link_to 'Edit', edit_book_path(book), class: "btn btn-link" %>
        <%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' },
          class: "btn btn-link"%>
          </div>
          </div>
    <% end %>

  </div>

<br>

<%= link_to 'New Book', new_book_path %>

<br>
<br>
