<% provide(:title, "Book Listings") %>
<h1>Book Listings </h1>

<hr>
<div class="center">
  <div id="books-index">
    <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-2">
            <%=image_tag 'http://placehold.it/150x200', class: 'thumbnail'%>
            <div class="caption">
              <h5><%=book.title %></h5>
            <%= number_to_currency(book.price) %>
            <p><%= book.user.name%></p>
            <%= link_to 'Show', book %>
            <% if (user_signed_in?) && (current_user == book.user)%>
            <%= link_to 'Edit', edit_book_path(book)%>
            <%end%>
            <%= link_to 'buy now',book,
              class: "btn btn-primary"%>
              <hr>

              <br>


              </div>
            </div>
          <% end %>
      </div>
      <nav aria-label="arial">
  <ul class="pager">
      <%= will_paginate @books%>
  </ul>
</nav>

  </div>
  </div>


<%= link_to 'New Book', new_book_path %>
