<% provide(:title, "Book Listings") %>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welome to USED TEXTBOOKS</h1>
    <p class="lead">Welome to used textbooks. This site gives College students the
    opportunity to sell or trade textbooks upon completion
    of the course or class.
	</p>
  </div>
</div>

<hr>
<h2>Book Listings </h2>
<div class="center">
  <div id="books-index">
    <div class="row">
        <% @books.each do |book| %>
          <div class="col-md-2">
            <%=link_to (image_tag 'http://placehold.it/150x200', class: 'thumbnail'),book %>
            <div class="caption">
              <h5><%=link_to book.title ,book %></h5>
            <%=(number_to_currency(book.price)) %>
            <p><%= "Sold by #{book.user.name}"%></p>
            <%= link_to 'buy now', new_book_order_path(book.id), class: "btn btn-primary"%>
              <hr>
              <br>
              </div>
            </div>
          <% end %>
      </div>
      <nav aria-label="arial">
  <ul class="pager">
      <%= will_paginate @books%>
  </ul>
</nav>

  </div>
  </div>
<!-- Checking if the user have signed in -->
<% if user_signed_in?%>
<%= link_to 'New Book', new_book_path %>
<% end %>
