<br>
  <div class="row no-gutters">
    <div class="col-md-5">
      <%=image_tag 'http://placehold.it/350x400', class: 'thumbnail'%>
    </div>
    <div class="col-md-4">
      <table class="table table-striped">
 <tbody>

   <tr>
     <th scope="row"> <strong>Title:</strong></th>

     <td><%= @book.title %></td>
   </tr>
      <tr>
            <th scope="row"> <strong>Subject:</strong>
            </th>
              <td> <%= @book.subject%></td>
            </tr>

            <tr>
              <th scope="row"><strong>Author:</strong>
            </th>
              <td> <%= @book.author %></td>
            </tr>

            <tr>
              <th scope="row"><strong>Description:</strong>
            </th>
              <td> <%= @book.description %></td>
            </tr>
            <tr>
              <th scope="row"><strong>Publisher:</strong>
            </th>
              <td> <%= @book.publisher %></td>
            </tr>
            <tr>
              <th scope="row"><strong>Publisher:</strong>
            </th>
              <td> <%= @book.publisher %></td>
            </tr><tr>
              <th scope="row"><strong>Isbn:</strong>
            </th>
              <td> <%= @book.isbn %></td>
            </tr>
            <tr>
              <th scope="row"><strong>Year:</strong>
            </th>
              <td> <%= @book.year %></td>
            </tr>
            <tr>
              <th scope="row"><strong>Price:</strong>
            </th>
              <td> <%= number_to_currency(@book.price) %></td>
            </tr>
          </tbody>

  </table>
          <br>
          <!-- check if the current user is the one who made the posting-->
           <% if current_user == @book.user%>
          <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-link"%> |
          <% link_to 'Destroy', @books, method: :delete, data: {confirm: 'Are you sure?'},
             class: "btn-btn-link"%>
              <%end%>
          <%= link_to 'Back', books_path,class: "btn btn-link" %>


      </div>


  </div>
