
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> <!-- Title of the page -->
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

  <!-- Bootstrap core CSS -->


    <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <%= render'layouts/header' %>

      <div class= "container">
        <!-- Displays alert and  errors messages -->

    <%= render 'layouts/alerts'%>
    <%= yield %>
    <%= render 'layouts/footer' %>

    </div>
  </body>
</html>
